<div id="index">
  <div class="search-bar">
  <%= form_tag rooms_path, :method => 'get' do %>
    <%= text_field_tag :query, params[:query], :placeholder => "Search by name, price or city", class: "search" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>


<div class="hotels">
    <% @rooms.each do |room| %>
    <div class="hotel-card">
      <div class="room-image">
        <%= cl_image_tag room.photo.key, class: "hotel-photo" if room.photo.attached? %>
      </div>
      <div class="hotel">
        <h2><%= link_to room.hotel.name, room %></h2>
        <p><%= room.hotel.address %></p>
        <hr>
          <div class="infos">
            <p><i class="fa-solid fa-money-bill"></i></i> <%= room.price_per_night %> MAD / night</p>
            <p><i class="fa-solid fa-user"></i></i> <%= room.capacity %></p>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
